/* form */
/* buttons */
/*** facebook ***/
/*** submit ***/
/* errors */
.LoginForm-separator, .LoginForm-terms-and-conditions, .LoginForm-terms-and-conditions-error-message {
  font-size: 0.81em;
  font-weight: 300; }

.LoginForm-submit, .LoginForm-facebook-btn {
  cursor: pointer;
  background-image: none;
  border: 0;
  border-radius: 3px;
  margin: 0 7px 11px 0;
  color: #fff;
  user-select: none;
  transition: all 200ms;
  width: 100%;
  height: 45px;
  font-size: 110%;
  text-shadow: none; }
  .LoginForm-submit:hover, .LoginForm-facebook-btn:hover, .LoginForm-submit:active, .LoginForm-facebook-btn:active, .LoginForm-submit:focus, .LoginForm-facebook-btn:focus, .LoginForm-submit:active:focus, .LoginForm-facebook-btn:active:focus {
    color: #fff;
    outline: 0; }

.LoginForm-separator {
  display: flex;
  justify-content: center;
  text-transform: uppercase; }
  .background.LoginForm-separator {
    position: relative;
    z-index: 1; }
    .background.LoginForm-separator:before {
      border-top: 1px solid #DFDFDF;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1; }
    .background.LoginForm-separator span {
      background: #FDFDFD;
      padding: 0 15px; }

/* error message animation */
@keyframes slide-down {
  from {
    transform: translateY(-50%);
    opacity: 0; } }

@media (min-width: 480px) {
  font-size: 0.8em; }

@-webkit-keyframes form_shake {
  0% {
    -webkit-transform: translate(4.5px);
    transform: translate(4.5px); }
  20% {
    -webkit-transform: translate(-4.5px);
    transform: translate(-4.5px); }
  40% {
    -webkit-transform: translate(2px);
    transform: translate(2px); }
  60% {
    -webkit-transform: translate(-2px);
    transform: translate(-2px); }
  80% {
    -webkit-transform: translate(1px);
    transform: translate(1px); }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px); } }

.LoginForm {
  width: 90%;
  background-color: #FDFDFD;
  padding: 1.2rem 0.8rem;
  border-radius: 10px; }
  @media (min-width: 660px) {
    .LoginForm {
      width: 70%;
      padding-left: 0.9rem;
      padding-right: 0.9rem; } }
  @media (min-width: 760px) {
    .LoginForm {
      width: 60%;
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media (min-width: 860px) {
    .LoginForm {
      width: 50%;
      padding-left: 1.1rem;
      padding-right: 1.1rem; } }
  @media (min-width: 960px) {
    .LoginForm {
      width: 40%;
      padding-left: 1.2rem;
      padding-right: 1.2rem; } }
  .LoginForm-group {
    position: relative;
    margin-bottom: 10px; }
  .LoginForm-submit, .LoginForm-facebook-btn {
    background-color: #739E23;
    box-shadow: 0 2px #618120; }
    .LoginForm-submit:hover, .LoginForm-facebook-btn:hover {
      background-color: #618C23;
      box-shadow: 0 2px #435100; }
    .LoginForm-submit:focus, .LoginForm-facebook-btn:focus {
      outline: 0;
      background-color: #739E23; }
    .LoginForm-submit:active, .LoginForm-facebook-btn:active, .LoginForm-submit:active:focus, .LoginForm-facebook-btn:active:focus {
      text-shadow: none;
      background-color: #618C23;
      box-shadow: 0 0 #717a33;
      top: 4px;
      outline: 0; }
  .LoginForm-facebook-btn {
    background-color: #3C5B95;
    box-shadow: 0 2px #2B0100;
    font-size: 90%;
    position: relative; }
    .LoginForm-facebook-btn i.fb-icon {
      position: absolute;
      left: 5%;
      top: 34%; }
    .LoginForm-facebook-btn:hover {
      background-color: #2B5C94;
      box-shadow: 0 2px #2B4B94; }
    .LoginForm-facebook-btn:focus {
      background-color: #3C5B95; }
    .LoginForm-facebook-btn:active, .LoginForm-facebook-btn:active:focus {
      background-color: #3C5B95;
      box-shadow: 0 1px #2B0100;
      top: 4px; }
  .LoginForm-terms-and-conditions {
    margin-top: 30px;
    margin-bottom: 5px; }
    .LoginForm-terms-and-conditions-error-message {
      color: #F4B159;
      transition: 200ms font-size; }
    .LoginForm-terms-and-conditions input[type="checkbox"]:focus {
      outline: 0; }
  .LoginForm.shakeForm {
    animation: form_shake 0.4s 1 linear;
    -webkit-animation: form_shake 0.4s 1 linear; }
    .LoginForm.shakeForm .LoginField-error-message {
      transform: scale(1.01); }
    .LoginForm.shakeForm .LoginForm-terms-and-conditions-error-message {
      font-size: 0.7em; }
