@import '../../variables.scss';
@import './partial_styles/LoginForm-animation.scss';

// using !important for bootstrap overrides

.LoginForm {
  flex-basis: 75%;
  background-color: $formBackgroundWhite;
  padding: 1.2rem;
  border-radius: 10px;
  @for $i from 0 through 3 {
    @media (min-width: #{660 + (100 * $i)}px) {
      flex-basis: percentage((63 - (10 * $i))/100);
    }
  }

  &-group {
    position: relative;
  }

  &-submit {
    @extend %btnStyle;
    background-color: $btnSubmitBackgroundGreen;
    box-shadow: 0 2px $btnSubmitBoxShadowGreen;

    &:hover {
      background-color: $btnSubmitHoverActiveBackgroundGreen !important;
      box-shadow: 0 2px $btnSubmitHoverBoxShadowGreen;
    }

    &:focus {
      outline: 0 !important;
    }

    &:active {
      text-shadow: none !important;
      background-color: $btnSubmitHoverActiveBackgroundGreen !important;
      box-shadow: 0 0 #717a33;
      top: 4px;
      outline: 0 !important;
    }
  }

  &-facebook-btn {
    @extend .LoginForm-submit;
    background-color: $btnFbBackgroundBlue;
    box-shadow: 0 2px $btnFbBoxShadowBlue;
    font-size: 110%;
    position: relative;

    i.fb-icon {
      position: absolute;
      left: 5%;
      top: 34%;
    }

    &:hover {
      background-color: $btnFbHoverBackgroundBlue;
      box-shadow: 0 2px $btnFbHoverBoxShadowBlue;
    }

    &:focus {
      outline: 0 !important;
      background-color: $btnFbBackgroundBlue !important;
    }

    &:active {
      background-color: $btnFbBackgroundBlue !important;
      box-shadow: 0 0 $btnFbActiveBoxShadowBlue;
      top: 4px;
      outline: 0 !important;
    }
  }

  &-separator {
    @extend %formText;
    @extend %separator;
  }

  &-terms-and-conditions {
    @extend %formText;
    margin-top: 35px;
    margin-bottom: 20px;
    &-error-message {
      @extend %formText;
      color: $errorColorOrange;
      transition: 200ms font-size;
    }
  }

  // shake form animation
  &.shakeForm {
    animation: form_shake 0.4s 1 linear;
    -webkit-animation: form_shake 0.4s 1 linear;

    .LoginField-error-message {
      transform: scale(1.01);
    }

    .LoginForm-terms-and-conditions-error-message {
      font-size: 0.88em;
    }
  }
}
