%formText {
  font-size: 0.86em;
  font-weight: 300;
}

.LoginForm {
  flex-basis: 75%;
  background-color: #FDFDFD;
  padding: 1.2rem;
  border-radius: 10px;
  @for $i from 0 through 3 {
    @media (min-width: #{660 + (100 * $i)}px) {
      flex-basis: percentage((63 - (10 * $i))/100);
    }
  }

  &-terms-and-conditions {
    @extend %formText;
  }

  .LoginField {
    &-input,
    &-label {
      @extend %formText;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
        -webkit-appearance: none;
      }

      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #ccc;
      }
    }

    &-input {
      height: auto;
      padding: 10px;

      &-error {
        border: 2px solid #E3AB57;
      }
    }

    &-label {
      text-transform: uppercase;
    }

    &-error-message {
      font-size: 0.8rem;
      color: #E3AB57;
      background-color: #F7E2AB;
      margin-top: 0.25rem;
      animation: slide-down 0.3s backwards ease-in-out;
      @keyframes slide-down {
        from {
          transform: translateY(-50%);
          opacity: 0;
        }
      }
    }
  }
}
